#bg{
    background-image: url(background.jpg);
    background-position: 10px 10px;
    background-repeat: repeat-y;
    background-size: 550px 100px;
    margin-top: -90px;
    margin-left: -20px;
    margin-bottom: -20px;
}
#h1{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    margin-left: -200px;
    font-style: italic;
}
#h{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: -40px;
    margin-left: -300px;
    font-style: italic;
}
h2{
    color:rgb(247, 202, 201);
    margin-left: 55px;
    font-size: 30px;
    font-style: italic;
}
#input{
    height: 150px;
    width: 200px;
}
#border{
    border-block-width: 3px;
    border-bottom-color: black;    
}